.post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.details-container {
  display: flex;
  justify-content: center;
}

.post-list h2 {
  cursor: pointer;
  text-decoration: none;
}

.post-list h2:hover {
  text-decoration: underline;
}

