.post-details {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post-details p {
    margin-bottom: 10px;
  }
  
  .post-details app-comments {
    margin-top: 20px;
  }